.user-container {
  display: flex;
  margin-top: 20px;
}
.user-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  box-shadow: 4px 2px 38px 0px rgba(0, 0, 0, 0.75);
}
